__pycache__/
*.pyc
*.db
.env
static/uploads/posts/*
static/uploads/stories/*
static/uploads/profiles/*
!static/uploads/posts/.gitkeep
!static/uploads/stories/.gitkeep
!static/uploads/profiles/.gitkeep